#naglowek
{
height:200px;
width:100%;
background-color:white;
}
#lewa
{
color:white;
height:100%;
width:20%;
background-color:DarkRed;
float:left;
}
#prawa
{
color:white;
height:100%;
width:80%;
background-color:FireBrick;
float:right;
}

#stopka
{
color:white;
clear:both;
height:7%;
width:100%;
background-color:DarkRed;
}

a
{
color:white;
}

a:hover
{
color:black;
}

#zewn
{
list-style-image:url(3.png);
list-style-position:outside;
font-size:20;
}
